<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Forms in Node.js</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
  <%- body %>
</body>
</html>
